.hidden{
	visibility:hidden;
}

#num-ul>span{
	display: inline-block;
	padding:7px 2px;
	text-align: center;
	margin: 10px 5px;
	width: 25px;
	box-sizing:border-box;
	position: relative;


}
#num-ul span .span-num{
	width: 20px;
	height: 20px;
	box-sizing:border-box;
	text-align: center;
	display: block;
	position: relative;
	color: blue;
}
